* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  height: 100vh;
}

header {
  height: 70px;
  background-color: rgb(226, 226, 226);
  display: grid;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
}

header > nav > ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.auth-menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2rem;
}

.dropdown {
  position: relative;
  width: 100%;
}

.link {
  width: 100px;
  padding: 5px 0;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.dropdown-menu {
  padding-top: 10px;
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  opacity: 0;
}

.dropdown-menu > li {
  padding-top: 3px;
}

.dropdown > .link:focus + .dropdown-menu {
  opacity: 1;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-auto-rows: 1fr;
}

.board > .row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.board-square {
  border: 1px solid black;
  display: grid;
  place-items: center;
}

.rotate {
  transform: rotate(180deg);
}

.sq-color__white {
  background-color: rgb(248, 239, 229);
}

.sq-color__grey {
  background-color: gray;
}

div.piece {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
}

.piece__red {
  background-color: rgb(128, 3, 3);
}

.piece__black {
  background-color: rgb(22, 21, 21);
}
